%h1 Objectifs
%ul.objectifs
  %li
    Mise en place de l'haml (gem haml) - 
    %span.status OK
  %li
    Mettre en place l'authentification (basicAuth, gem Dotenv) -
    %span.status OK

  %li
    Mettre en place une base de donnée (PostgresQl)
    %span.status OK

  %li
    Mettre en place un formulaire pour l'insertions de liens
    %span.status OK
  
  %li
    Mettre en place des validations pour le formulaire
    %span.status OK

  %li
    Créer un compte heroku et y déployer l'appli
    %span.status OK
    
  %li
    Créer un script de déploiement (local > dev et prod)
    %span.status OK

  %li
    Mettre en place des tests (spec_helper)
    %span.status OK
  
  %li
    Mettre en place un API qui communique avec une autre appli

  %li
    Mettre en place le mailer

  %li
    Mettre en place des tests (BDD avec jasmine-rails/rspec/cucumber)

  %li
    Mettre en place AngularJs
 
  %li
    Mettre en place une base de données NoSql
  


%h1 Offre emploi... API Linkedin...