%h1 Objectifs
%ul.objectifs
  %li
    Mise en place de l'haml (gem haml) - 
    %span.status OK
  %li
    Mettre en place l'authentification (basicAuth, gem Dotenv) -
    %span.status OK

  %li
    Mettre en place une base de donnée (PostgresQl)
  %li
    Créer un compte heroku et y déployer l'appli
  %li
    Créer un script de déploiement (local > dev et prod)

  %li
    Mettre en place AngularJs
 
  %li
    Mettre en place une base de données NoSql
  