<nav><a href="<%= contact_path %>">contact</a></nav>
<h1>Objectifs</h1>
<ul class="objectifs">
  <li>Mise en place de l'haml (gem haml)</li>
	<li>Mettre en place l'authentification (basicAuth, gem Dotenv)</li>
	<li>Mettre en place une base de donnée (PostgresQl)</li>
  <li>Créer un compte heroku et y déployer l'appli</li>
	<li>Créer un script de déploiement (local > dev et prod)</li>
</ul>