# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 0c60b9107d82e59d77bebd25e696420923466a5472a2b3738bfe5b84469e738f4d94fbb945a1f5840f771891d7b6c34ec8b479c80c182c1e022d98059293d1d0

test:
  secret_key_base: 77d1fdc6dcfc57c5478ccf8ab522fe99a33bd7c201c5cc391e1772be5a549310b08c2f8e6994b7087b00937455f5bc548856e8f3ae11fc8556d5f53bdc0334ac

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
