/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{padding: 1%;}

 main{
 	margin: 0 auto;
 }

 h1{color: #333;}

 .status{color: green;}

 .liens{
 	display: inline-block;
 	width: 20%;
 	margin-top: 5px;
 	background-color: #E6E6E6;
 	padding: 1.25%;
 }
 
/* Links*/
nav a{
	background-color: #fff;
 	color: #333;
}

a{
	text-decoration: none;
	background-color: #164272;
 	color: #fff;
}
.add-link{
 	background-color: #333;
 	color: #fff;
 	text-decoration: none;
 	padding: 0.5%;
 }

 .desc-link{
 	background-color: #164272;
 	color: #fff;
 	text-decoration: none;
 	padding: 0.5%;
 }
