@media (max-width: 540px) {
	.add-btn{
		width: 100%;
	}

	.back-btn{
		width: 100%;
		text-align: center;
		padding: 5%;
		font-size: 1.2em;
	}
}

@media (min-width: 541px) {
	textarea {width: 450px;}
	.back-btn{width: 2.5em;}
}


.btn{
	text-decoration: none;
	color: #fff;
	background-color: rgba(22, 66, 114, 0.86);
	padding: 1.6%;
	display: inline-block;
	min-width: 42px;
	border-radius: 3px;
	padding: 5px;
}

.add-btn{
	background-color: #E27A3F;
	padding: 0.6%;
}

.edit-btn{
	background-color: #45B29D;
}

.del-btn{
	background-color: #DF5A49;
	padding: 5px;
}

.desc-btn{
	background-color: #164272;
}

.more-btn{
	background-color: #E27A3F;
}

.back-btn{
	background-color: #E27A3F;
	display: block;
	margin-top: 2%;
}
